
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.letter {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  margin: 5px;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7%;
}

.letter_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.usedAttempt .letter {
  background-color: rgb(97, 97, 97);
}

.usedAttempt  .cows {
  background-color: antiquewhite;
}

.usedAttempt  .bulls {
  background-color: rgb(25, 231, 43);
}



.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_restart {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn_submit {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}


.russian-keyboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.keyboard-key {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*.keyboard-key:focus {
  outline: none;
 }*/

.used {
  background-color: rgb(97, 97, 97);
}

.usefull {
  background-color: rgb(82, 173, 82);
}

.usefullOnPlace {
  background-color: rgb(82, 173, 82);
}

.btn_del {
  width: 120px;
} 

.noWord,
.gameStatus {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #46b8da;
}

.noWord_under_under,
.gameStatus_under {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: darkgrey;
}

.noWord_wrapper,
.gameStatus_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.letter_row.usedAttempt .letter {
  opacity: 0.75;
}