html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* 100% от высоты экрана */
  width: 100vw;  /* 100% от ширины экрана */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.letter {
  width: 75px;
  height: 75px;
  border: 1px solid #bbb;
  margin: 5px;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7%;
}

.letter_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.lettersLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.usedAttempt .letter {
  background-color: rgb(97, 97, 97);
}

.usedAttempt  .cows {
  background-color: antiquewhite;
}

.usedAttempt  .bulls {
  background-color: rgb(25, 231, 43);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_Рестарт {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn_submit {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}


.russian-keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.keyboard-key {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: 2px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*.keyboard-key:focus {
  outline: none;
 }*/

.used {
  background-color: rgb(97, 97, 97);
}

.usefull {
  background-color: antiquewhite;
}

.usefullOnPlace {
  background-color: rgb(82, 173, 82);
}

.btn_del {
  width: 120px;
} 

.noWord,
.gameStatus {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #46b8da;
}

.noWord_under_under,
.gameStatus_under {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: darkgrey;
}

.noWord_wrapper,
.gameStatus_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.letter_row.usedAttempt .letter {
  opacity: 0.75;
}

.letterContainer {
  perspective: 1000px;
  font-family: Helvetica, Arial;
  font-size: 3rem;
}

/*********/

.flip-card {
  background-color: transparent;
  width: 75px;
  height: 75px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.usedAttempt  .flip-card .flip-card-inner {
  transform: rotateY(180deg);
}


.usedAttempt .flip-card-front {
  background-color: #bbb;
  color: #bbb;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
   transform: rotateY(180deg);
}


/******************************************************************/
/* Основные стили для десктопа остаются такими же */



@media (min-width: 1025px) and (max-width: 1980px) {

 /*  .App {
    background-color: red !important;
  } */
  
}

@media (min-width: 768px) and (max-width: 1024px) {

  .App {
    background-color: orange !important;
   }
}
 

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .App {
    background-color: brown !important;
   }
} 


@media (min-width: 320px) and (max-width: 767px) {

  .App {
    background-color: purple !important;
   }

  .letter {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }

  .flip-card {
    width: 50px;
    height: 50px;
  }

  .russian-keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
  }
  
  .keyboard-key {
    width: calc((100% - 10px) / 12);
    height: calc((100% - 10px) / 12);
    min-width: 20px;
    min-height: 20px;
  }

  .keyboard-key {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .russian-keyboard {
    max-width: 100%;
    margin-top: 3em;
  }

  .btn {
    padding: 3px 8px;
    font-size: 10px;
  }

  .btn_del {
    width: 80px;
  }

  .letterContainer {
    font-size: 1.5rem;
  }

  .noWord,
  .gameStatus {
    font-size: 1rem;
  }
}


@media (min-width: 100px) and (max-width: 319px) {
  .App {
    background-color: pink !important;
    color: pink !important;
  }
}



